@using CustomerCrm.Core.Models
@model List<EmployeeModel>

<h1>Employees List</h1>
<a role="button" class="btn btn-success" asp-controller="Employee" asp-action="Create">Add an Employee</a>
    <div class="row">
        @{foreach (var m in Model)
        {
        <div class="col-3">
            <partial name="_Employee" model ="@m" ></partial>
        </div>
        }}
    </div>
