@model List<Employee>

<h1>Employees List</h1>

    <div class="row">
        @{foreach (var m in Model)
        {
        <div class="col-3">
            <partial name="_Employee" model ="@m" ></partial>
        </div>
        }}
    </div>
